<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<header>
    <div class="cusheader" style="contain: content" th:fragment="copyheader">
        <div style="float: left;">
            <p><a href="/" th:href="@{/}"><img src="/static/image/logo.png" height="100" width="300"/></a></p>
        </div>
        <div style="float: right; padding: 5px">
            <div sec:authorize="isAnonymous()">

                <form th:action="@{/login}" method="post">
                    <table>
                        <tr><td colspan="2">
                            <div th:if="${param.error}">
                                Неверное имя пользователя или пароль.
                            </div>
                            <div th:if="${param.logout}">
                                Вы успешно завершили сессию.
                            </div>
                        </td></tr>
                        <tr><td><label> Логин: </label></td><td><input class="input" type="text" name="username"/></td></tr>
                        <tr><td><label> Пароль: </label></td><td><input class="input" type="password" name="password"/></td></tr>
                        <tr><td></td><td><input class="button" type="submit" value="Войти"/></td></tr>
                    </table>
                </form>
                <!--form action="/login">
                    <button class="float-left submit-button">Войти</button>
                </form-->
            </div>
            <div sec:authorize="isAuthenticated()">
                <table>
                    <tr><td>Добро пожаловать,</td></tr>
                    <tr><td><b>[[${#httpServletRequest.remoteUser}]]</b></td></tr>
                    <tr><td>
                        <form th:action="@{/logout}" method="post">
                            <p><input class="button" type="submit" value="Выйти"/></p>
                        </form>
                    </td></tr>
                </table>
            </div>
        </div>
    </div>
</header>