header{
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #ffffff;        /* Цвет фона */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;                 /* Ширина слоя */
    opacity: 1;                 /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
}

body {
    background-image: url(/static/image/bankback.jpg); /* Фоновый рисунок  */
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-repeat: no-repeat;
    min-height: 700px;
    background-color: #2a7731;
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    border: 1px double black;
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #30b44f;        /* Цвет фона */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;                 /* Ширина слоя */
    opacity: 1;                 /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
}

.header {
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #ffffff;        /* Цвет фона */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;                 /* Ширина слоя */
    opacity: 1;                 /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
}

.mainblock {
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #ffffff;        /* Цвет фона */
    width: 95%;                 /* Ширина слоя */
    height: 70vh;
    opacity: 0.95;              /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cusfooter{
    border: 1px double black;
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #30b44f;        /* Цвет фона */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;                 /* Ширина слоя */
    opacity: 1;                 /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
}

.cusheader{
    contain: content;
    border-radius: 5px;
    padding: 10px;              /* Поля вокруг текста */
    background: #ffffff;        /* Цвет фона */
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;                 /* Ширина слоя */
    opacity: 1;                 /* Значение прозрачности */
    filter: alpha(Opacity=95);  /* Прозрачность в IE */
}

.button{
    height:30px;
}

.input{
    height:30px;
}

.tablex {
    margin-left: auto;          /* Выравниваем слой по центру */
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px; /* Поля вокруг содержимого ячейки */
    background: #ddffda; /* Цвет фона нечетных строк */
    border: 1px solid #218f11; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
.th1 {
    background: #137d06; /* Цвет фона */
    border-left: 1px solid #137d06;
    border-bottom: 1px solid #137d06; /* Линия снизу */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
}
.green2 {
    text-align: center; /* Выравнивание по центру */
    border-bottom: 1px solid #137d06; /* Линия внизу ячейки */
}
.even {
    text-align: center; /* Выравнивание по центру */
    background: #98ca8e; /* Цвет фона четных строк */
}
.la {
    border-left: 1px solid #137d06;
    border-bottom: 1px solid #137d06; /* Линия снизу */
    text-align: center; /* Выравнивание по центру */
}