<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SberMiniBank home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <header>
        <div style="contain: content">
            <div style="float: left;">
                <p><a href="/" th:href="@{/}"><img src="/static/image/logo.png" height="100" width="300"/></a></p>
            </div>
            <div style="float: right;">
                <div sec:authorize="#{!isAuthenticated()}">
                    <form action="/login">
                        <button class="float-left submit-button">Войти</button>
                    </form>
                </div>
                <div sec:authorize="#{!isAuthenticated()}">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Выйти"/>
                    </form>
                </div>

                Authenticated username:
                [[${#httpServletRequest.remoteUser}]]
            </div>
        </div>
    </header>
    <body>
        <div class="mainblock">
            <h2>Добро пожаловать!</h2>
            <p>SberMiniBank - подразделение ПАО "СБЕРБАНК", осуществляющее обслуживание студентов. Количество сервисов ограничено, но они совершенно бесплатны.</p>
            <a href="/registration">Зарегистрироваться</a>
        </div>
    </body>
    <footer>
        <h5> (c) Александр Питасов, 2019г.</h5>
    </footer>
</html>