<!DOCTYPE HTML>
<html xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background-image="http://www.w3.org/1999/xhtml">
<head>
    <title>SberMiniBank home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../styles/main.css">
</head>
    <body>
        <div class="header">
            <img src="../image/sberminilogo.png" height="100" width="350"/>
        </div>
        <div class="mainblock">
            <h2>Добро пожаловать!</h2>
            <p>SberMiniBank - подразделение ПАО "СБЕРБАНК", осуществляющее обслуживание студентов. Количество сервисов ограничено, но они совершенно бесплатны.</p>
            <a href="/registration">Зарегистрироваться</a>
        </div>
    </body>
    <footer>
        <h5> (c) Александр Питасов, 2019г.</h5>
    </footer>
</html>