<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Логин</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <h2>Авторизация</h2>
                <form th:action="@{/login}" method="post">
                    <table>
                        <tr><td colspan="2">
                            <div th:if="${param.error}">
                            Неверное имя пользователя или пароль.
                        </div>
                            <div th:if="${param.logout}">
                                Вы успешно завершили сессию.
                            </div>
                        </td></tr>
                        <tr><td><label> Логин: </label></td><td><input class="input" type="text" name="username"/></td></tr>
                        <tr><td><label> Пароль: </label></td><td><input class="input" type="password" name="password"/></td></tr>
                        <tr><td></td><td><input class="button" type="submit" value="Войти"/></td></tr>
                    </table>
                </form>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>