<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Личный кабинет</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <div class="container">
                <h2>Личный кабинет</h2>

                <table class="tablex">
                    <tr>
                        <th class="th1"><p><b>№ операции</b></p></th>
                        <th class="th1"><p><b>Операция</b></p></th>
                        <th class="th1"><p><b>Счет</b></p></th>
                        <th class="th1"><p><b>Сумма</b></p></th>
                        <th class="th1"><p><b>Валюта</b></p></th>
                        <th class="th1"><p><b>От кого/кому</b></p></th>
                        <th class="th1"><p><b>Дата, время</b></p></th>
                    </tr>
                    <tr class="green2">
                        <td class="la"><p>1</p></td>
                        <td class="la"><p>2</p></td>
                        <td class="la"><p>3</p></td>
                        <td class="la"><p>4</p></td>
                        <td class="la"><p>5</p></td>
                        <td class="la"><p>6</p></td>
                        <td class="la"><p>7</p></td>
                    </tr>
                    <tr class="even">
                        <td class="la"><p>1</p></td>
                        <td class="la"><p>2</p></td>
                        <td class="la"><p>3</p></td>
                        <td class="la"><p>4</p></td>
                        <td class="la"><p>5</p></td>
                        <td class="la"><p>6</p></td>
                        <td class="la"><p>7</p></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>