<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Вывод средств</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <div class="container">
                <h2>Вывод средств</h2>

                <form action="#" th:action="@{/pull}" th:object="${transaction}" method="post">
                    <table width="25%" style="margin-top: 30px;">
                        <tr>
                            <td align="center"><p>Сумма: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{summ}" /></p></td>
                            <td align="left"><p>Руб.</p></td>
                        </tr>
                        <tr>
                            <td align="center"><p>№ счета: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{accTo}" /></p></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Подтвердить" /></p></td>
                            <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="reset" value="Сброс" /></p>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>