<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Регистрация</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <h1>Регистрация нового пользователя</h1>
            <form action="#" th:action="@{/registration}" th:object="${client}" method="post">
                <table width="25%" cellspacing="0" cellpadding="4">
                    <tr><td><p>Имя пользователя: </p></td><td><input class="input" type="text" th:field="*{login}" /></td></tr>
                    <tr><td><p>Пароль: </p></td><td><input class="input" type="text" th:field="*{pass}" /></td></tr>
                    <tr><td><p>e-mail: </p></td><td><input class="input" type="text" th:field="*{email}" /></td></tr>
                    <tr><td><p>Имя: </p></td><td><input class="input" type="text" th:field="*{name}" /></td></tr>
                    <tr><td><p>Фамилия: </p></td><td><input class="input" type="text" th:field="*{surname}" /></td></tr>
                    <tr><td><p>Отчество: </p></td><td><input class="input" type="text" th:field="*{secondName}" /></td></tr>
                    <tr><td><p><input class="button" type="submit" value="Подтвердить" /></p></td><td><input class="button" type="reset" value="Сброс" /></td></tr>
                </table>
            </form>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>