<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Регистрация</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <div class="container">
                <h1>Регистрация нового пользователя</h1>
                <form action="#" th:action="@{/registration}" th:object="${client}" method="post">
                    <table width="35%" cellspacing="0" cellpadding="4">
                        <tr>
                            <td align="right"><p>Имя пользователя: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{login}" /></p></td>
                        </tr>
                        <tr>
                            <td align="right"><p>Пароль: </p></td>
                            <td align="center"><p><input class="input" type="password" th:field="*{pass}" /></p></td></tr>
                        <tr>
                            <td align="right"><p>E-mail: </p></td>
                            <td align="center"><p><input class="input" type="email" th:field="*{email}" /></p></td></tr>
                        <tr>
                            <td align="right"><p>Имя: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{name}" /></p></td></tr>
                        <tr>
                            <td align="right"><p>Фамилия: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{surname}" /></p></td></tr>
                        <tr>
                            <td align="right"><p>Отчество: </p></td>
                            <td align="center"><p><input class="input" type="text" th:field="*{secondName}" /></p></td></tr>
                        <tr>
                            <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Подтвердить" /></p></td>
                            <td align="center"><p><input class="btn btn-outline-success my-2 my-sm-0" type="reset" value="Сброс" /></p></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>