<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Успех</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <div class="container">
                <h1>Успешная регистрация!</h1>
                <table>
                    <tr><p th:text="'Логин: ' + ${client.login}" /></tr>
                    <tr><p th:text="'pass: ' + ${client.pass}" /></tr>
                    <tr><p th:text="'e-mail: ' + ${client.email}" /></tr>
                    <tr><p th:text="'name: ' + ${client.name}" /></tr>
                    <tr><p th:text="'surname: ' + ${client.surname}" /></tr>
                    <tr><p th:text="'secondName: ' + ${client.secondName}" /></tr>
                    <tr><a href="/registration">Зарегистрировать другого пользователя</a></tr>
                    <tr><a href="/">Назад на главную</a></tr>
                </table>
            </div>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>