<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Успех</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body>
        <div class="mainblock">
            <h1>Success!</h1>
            <p th:text="'id: ' + ${client.login}" />
            <p th:text="'pass: ' + ${client.pass}" />
            <p th:text="'e-mail: ' + ${client.email}" />
            <p th:text="'name: ' + ${client.name}" />
            <p th:text="'surname: ' + ${client.surname}" />
            <p th:text="'secondName: ' + ${client.secondName}" />
            <a href="/registration">Зарегистрировать другого пользователя</a>
            <a href="/">Назад на главную</a>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>