<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head th:replace="fragments/head :: common_header(~{::title})">
        <title>SberMiniBank - Успех</title>
    </head>

    <div th:replace="fragments/header :: copyheader"></div>

    <body style="background-color: #28a745;">
        <div class="mainblock">
            <div class="container">
                <h1>Успешная регистрация!</h1>
                <table>
                    <tr><td><p>Логин:</p></td> <td><p th:text="${client.login}" /></td></tr>
                    <tr><td><p>E-mail:</p></td> <td><p th:text="${client.email}" /></td></tr>
                    <tr><td><p>Имя:</p></td> <td><p th:text="${client.name}" /></td></tr>
                    <tr><td><p>Фамилия:</p></td> <td><p th:text="${client.surname}" /></td></tr>
                    <tr><td><p>Отчество:</p></td> <td><p th:text="${client.secondName}" /></td></tr>
                    <tr><td colspan="2"><a href="/registration"> <button style="align: center;" class="btn btn-outline-success my-2 my-sm-0" type="button">Зарегистрировать другого клиента</button> </a></td></tr>
                </table>
            </div>
        </div>
    </body>

    <div th:replace="fragments/footer :: copy"></div>
</html>